h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Productividad y la relación con los objetivos institucionales', 'main.html#page/productividad/')
                    +navTemaItem('2', 'Competitividad en la empresa', 'main.html#page/competitividad/')
                    +navTemaItem('3', 'Gestión de la organización en función de la productividad y competitividad', 'main.html#page/getion/')
                    +navTemaItem('4', 'Conclusión', 'main.html#page/conclusion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')