.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Cliente:
            | persona u organización que adquiere los productos o servicios de una empresa.
        p
            strong.mr-2 Elementos:
            | factores que influyen positiva o negativamente en la productividad o competitividad de una organización.
        p
            strong.mr-2 Indicador:
            | característica específica o dato observable para indicar los progresos a un determinado procedimiento o acción.
        p 
            strong.mr-2 Nicho de mercado:
            | grupo de mercado con características específicas de consumo de un producto o servicio.
        p
            strong.mr-2 Objetivo:
            | propósito o meta a alcanzar con la ejecución de actividades planificadas para este caso relacionadas con productividad y competitividad.
        p
            strong.mr-2 Recursos:
            | conjunto de elementos disponibles por una empresa para incrementar su productividad y competitividad.
