.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img1.png")

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El enfoque organizacional hacia la productividad y competitividad se soporta en los objetivos estratégicos institucionales, debido a esto un buen empresario debe tener en cuenta la relación entre los elementos que determinan el incremento de la productividad de las empresas y fortalecen el aporte de esta al mercado.

                            br

                            p Por consiguiente, una buena gestión de la organización donde el engranaje del talento humano, el capital físico, los recursos financieros y la tecnología logre efectividad y cumplimiento, determina el cumplimiento de los objetivos institucionales. 

                            br

                            p La temática desarrollada en esta actividad de aprendizaje, permitirá al aprendiz identificar los elementos de productividad y competitividad de acuerdo al marco estratégico y objetivos institucionales que generan sostenibilidad para una empresa.