include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("", "https://www.emprendepyme.net/productividad-empresarial")

        +referenciaItem("", "https://es.workmeter.com/blog/bid/229017/la-importancia-de-la-productividad-empresarial")

        +referenciaItem("", "https://www.aguaeden.es/blog/tipos-de-productividad-empresarial-y-factores-de-influencia")

        +referenciaItem("", "https://www.dinero.com/empresas/articulo/10-tips-para-mejorar-la-productividad-de-su-empresa/193162")

        +referenciaItem("", "https://www.emprendepyme.net/que-es-la-competitividad-empresarial.html")

        +referenciaItem("", "http://www.forumdecomercio.org/Crear-competitividad-en-las-empresas/")

        +referenciaItem("", "http://www.forodeseguridad.com/artic/admin/5115.htm")

        +referenciaItem("", "http://rcientificas.uninorte.edu.co/index.php/pensamiento/article/view/3656/4989")