include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Argudo, C. (2017, septiembre). ¿Qué es la competitividad empresarial?", "")

        +referenciaItem("Chávez, N. (2011). Contribución a la competitividad de una empresa con herramientas estratégicas: Método ABC y el personal de la organización. Revista científica Pensamiento y Gestión, No 31: Jul-Dic 2011. Recuperado de", "http://rcientificas.uninorte.edu.co/index.php/pensamiento/article/view/3656/4989")

        +referenciaItem("Dinero (s.f.). 10 tips para mejorar la productividad de su empresa. Recuperado de", "https://www.dinero.com/empresas/articulo/10-tips-para-mejorar-la-productividad-de-su-empresa/193162")

        +referenciaItem("Eden (s.f.). Tipos de productividad empresarial y factores de influencia. Recuperado de", "https://www.aguaeden.es/blog/tipos-de-productividad-empresarial-y-factores-de-influencia")

        +referenciaItem("Forum de comercio. (2004). Crear competitividad en las empresas. No. 2. Recuperado de", "http://www.forumdecomercio.org/Crear-competitividad-en-las-empresas/")

        +referenciaItem("Frigo, E. (s.f.). ¿Qué es la competitividad de una empresa? Recuperado de", "http://www.forodeseguridad.com/artic/admin/5115.htm")

        +referenciaItem("Sánchez, L. (2015, junio). Productividad empresarial. Recuperado de", "https://www.emprendepyme.net/productividad-empresarial")

        +referenciaItem("Workmeter. (2018, octubre). La importancia de la productividad empresarial. Recuperado de", "https://es.workmeter.com/blog/bid/229017/la-importancia-de-la-productividad-empresarial")